<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MathTEMATIKA Blog</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <style>
        html {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>
<body>
    <h1>MathTEMATIKA Blog</h1>
    <a href="{% url 'blog_index' %}">ПОЧЕТНА</a>
    {% block page_title %}{% endblock page_title %}
    {% block page_content %}{% endblock page_content %}
    <footer>
            <strong><em>2024</em></strong>
            | Информационе технологије (<em>IT</em>) и друштво @
            <strong><em><a href="https://matinf.pmf.unibl.org/" target="_blank"
                title="Природно-математички факултет">ПМФ Бања Лука
            </a></em></strong>
    </footer>
</body>
</html>
